# deps
node_modules
.pnp
.pnp.js

# build
dist
build
out
.next
.turbo
.vercel
artifacts
cache
typechain-types

# env
.env
.env.local
.env.*.local

# generated
apps/web/.env.local
packages/contracts/deployments
packages/contracts/cache
packages/contracts/artifacts

# logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# editor
.vscode
.idea
.DS_Store
*.pem

# misc
coverage
.tsbuildinfo
*.tsbuildinfo
